@font-face {
    font-family: PubgFont;
    src: url(../fonts/pubg-font.ttf);
  }
* {
    margin: 0;
    padding: 0;

    font-family: 'PubgFont';
}

body {
    width: 100vw;
    height: 100vh;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/background.jpg');
    background-size: cover;
}

.main-item {
    text-align: center;

}

.pubg-title {
    font-size: 40px;
    margin-bottom: 40px;
}

.pubg-countdown {
    font-size: 100px;
}